@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: rgb(235, 3, 3);
}
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  z-index: 1000;
}
.logo {
  position: relative;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
}
header ul {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}
header li {
  position: relative;
  list-style: none;
  margin-left: 40px;
}
header a {
  color: #fff;
  text-decoration: none;
}
.banner {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.imgBx {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.imgBx img {
  position: absolute;
  background-position: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.8s ease-in;
}
.imgBx img.active {
  opacity: 1;
}
.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 80px;
}
.controls li {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
  list-style: none;
  cursor: pointer;
  opacity: 0.5;
}
.controls li:hover {
  background: #ffeb3b;
  opacity: 1;
}
.controls li:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 3px solid #111;
  border-bottom: 3px solid #111;
  transform: rotate(45deg);
}
.controls li:nth-child(2):before {
  transform: rotate(225deg);
}
.contentBx {
  position: absolute;
  bottom: 0;
  max-width: 700px;
}
.contentBx div {
  display: none;
}
.contentBx div.active {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  padding: 30px;
  padding-left: 100px;
}
.contentBx h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}
.contentBx p {
  color: #fff;
  font-size: 0.7rem;
}
.contentBx a {
  color: #111;
  font-size: 0.7rem;
  display: inline-block;
  padding: 10px 30px;
  background: #fff;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}
